{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/404.css"> 
{% endblock head %}
{% block title %}
Shop Now -
{% endblock title %}
{% block body %}
<section>
  <div id="particles-js"></div>
  <script src="/static/js/particles.js"></script>
  <script src="/static/js/app.js"></script>
  <div class="mainpg">
    <h1>Class 11</h1>
    <p>Sorry! this page is under development.</p>
    <p><a href="/"><ion-icon name="home-outline"></ion-icon></a></p>
  </div>

</section>
{% comment %} <section id="getstart" class="class02">
    <div class="container">
    <div class="cards">
      <div class="textcards math12">
        <a href="#">
        <h3>Maths</h3>
        <p>Mathematics is the one of the most hardest subject for all +2 science stream students. Click here to get all notes, past year question papers and important topics that you need to cover up to get good marks in NEB Exam of Class 12 Maths.</p>
      </a>
      </div>
      <div class="textcards">
        <a href="#">
        <h3>chemistry</h3>
        <p>Persionally for me chemistry is the most hardest subject as a +2 Computer Science student. Click here to get all notes, past year question papers and important topics that you need to cover up to get good marks in NEB Exam of Class 12 Chemistry.</p>
        </a>
      </div>

      <div class="textcards">
        <a href="#">
        <h3>physics</h3>
        <p>Physics is also one of the toughest subject for all +2 science stream students. Click here to get all notes, past year question papers and important topics that you need to cover up to get good marks in NEB Exam of Class 12 Physics.</p>
        </a>
      </div>
    </div>
    <div class="cards">
      <div class="textcards">
        <a href="#">
        <h3>Physics</h3>
        <p>Physics is also one of the toughest subject for all +2 science stream students. Click here to get all notes, past year question papers and important topics that you need to cover up to get good marks in NEB Exam of Class 11 Physics.</p>
        </a>
      </div>
      <div class="textcards">
        <a href="#">
        <h3>chemistry</h3>
        <p>Persionally for me chemistry is the most hardest subject as a +2 Computer Science student. Click here to get all notes, past year question papers and important topics that you need to cover up to get good marks in NEB Exam of Class 11 Chemistry.</p>
        </a>
      </div>
      <div class="textcards">
        <a href="#">
        <h3>Maths</h3>
        <p>Mathematics is the one of the most hardest subject for all +2 science stream students. Click here to get all notes, past year question papers and important topics that you need to cover up to get good marks in NEB Exam of Class 11 Maths.</p>
        </a>
      </div>
    </div>
    <div class="cards">
      <div class="textcards biology12">
        <a href="#">
        <h3>Physics</h3>
        <p>Physics is also one of the toughest subject for all +2 science stream students. Click here to get all notes, past year question papers and important topics that you need to cover up to get good marks in NEB Exam of Class 11 Physics.</p>
        </a>
      </div>
    </div>
    </div>
</section> {% endcomment %}
{% endblock body %}